.header {
  border-bottom: 1px lightgray solid;
  margin-bottom: 10px;
}

.shaded {
  background: #f0f0f0;
}

.row-padding {
  padding-bottom: 3px;
  padding-top: 3px;
}

.row-margin-bottom {
  margin-bottom: 2px;
}

.btn {
  font-weight: 700;
  color: white;
  background: steelblue;
}

.list-title {
  font-size: 1.75em;
}

.clickable {
  color: blue;
  font-weight: 500;
  cursor: pointer;
}

.bottom-border {
  border-bottom: 1px solid lightgray;
}