<div class="col-xs-10 col-xs-offset-2">
  <label for="name">Name:</label>
  <input id="name" type="text" ng-model="newDebtee.name" />
</div>
<div class="col-xs-10 col-xs-offset-2">
  <button id="saveDebtee" class="btn" ng-click="create(newDebtee)">Save</button>
</div>