<div id="{{entity.type}}New" class="col-xs-10 col-xs-offset-2">
  <label for="name">Name:</label>
  <input id="name" type="text" ng-model="entity.new[entity.type].name" />
</div>
<div class="col-xs-10 col-xs-offset-2">
  <label for="debtee">Debtee:</label>
  <select id="debtee" ng-model="entity.new[entity.type].debtee"
          ng-options="debtee.id as debtee.name for debtee in debtees">
  </select>
</div>
<div class="col-xs-10 col-xs-offset-2">
  <label for="debtor">Debtor:</label>
  <select id="debtor" ng-model="entity.new[entity.type].debtor"
          ng-options="debtor.id as debtor.name for debtor in debtors">
  </select>
</div>
<div class="col-xs-10 col-xs-offset-2">
  <label for="initialAmount">Initial Amount:</label>
  <input id="initialAmount" type="text" ng-model="entity.new[entity.type].initialAmount" />
</div>
<div class="col-xs-10 col-xs-offset-2">
  <label for="interestRate">Interest Rate:</label>
  <input id="interestRate" type="text" ng-model="entity.new[entity.type].interestRate" />
</div>

<div class="col-xs-10 col-xs-offset-2">
  <button id="saveDebt" class="btn" ng-click="create(entity.new[entity.type])">Save</button>
</div>