<div id="{{entity.type}}Show" class="col-xs-10 col-xs-offset-2">
  <h3>{{entity.type | capitalize}}: {{entity[entity.type].name}}</h3>
  <div class="col-xs-12">
    <label id="{{entity.type}}NameLabel" for="{{entity.type}}Name">
      Name:
    </label>
    <span id="{{entity.type}}Name">
      {{entity[entity.type].name}}
    </span>
  </div>
  <div class="col-xs-12">
    <label id="debteeLabel" for="debtee">
      Debtee:
    </label>
    <span id="debtee">
      {{entity[entity.type].debtee || 'None'}}
    </span>
  </div>
  <div class="col-xs-12">
    <label id="debtorLabel" for="debtor">
      Debtor:
    </label>
    <span id="debtor">
      {{entity[entity.type].debtor || 'None'}}
    </span>
  </div>
  <div class="col-xs-12">
    <label id="initialAmountLabel" for="initialAmount">
      Initial Amount:
    </label>
    <span id="initialAmount">
      {{entity[entity.type].initialAmount}}
    </span>
  </div>
  <div class="col-xs-12">
    <label id="currentAmountLabel" for="currentAmount">
      Current Amount:
    </label>
    <span id="currentAmount">
      {{entity[entity.type].currentAmount}}
    </span>
  </div>
  <div class="col-xs-12">
    <label id="remainingAmountLabel" for="remainingAmount">
      Remaining Amount:
    </label>
    <span id="remainingAmount">
      {{entity[entity.type].remainingAmount}}
    </span>
  </div>
  <div class="col-xs-12">
    <label id="interestRateLabel" for="interestRate">
      Interest Rate:
    </label>
    <span id="interestRate">
      {{entity[entity.type].interestRate}}
    </span>
  </div>
</div>
