<div class="col-xs-10 col-xs-offset-2">
  <label for="name">Name:</label>
  <input id="name" type="text" ng-model="newDebtor.name" />
</div>
<div class="col-xs-10 col-xs-offset-2">
  <button id="saveDebtor" class="btn" ng-click="create(newDebtor)">
    Save
  </button>
</div>