<div class="container">

  <div class="header">
    <header-navigation></header-navigation>
    <h3 id="homeLink" class="text-muted">
      <a ui-sref="home">
        Debt Tracker
      </a>
    </h3>
  </div>

  <div ui-view=""></div>
</div>
