<ul class="nav nav-pills pull-right">
  <li ng-click="navigation.goTo(pill.name)" ng-repeat="pill in navigation.headerPills">
    <button id="{{pill.name}}Button" class="btn btn-sm">
      {{pill.name | capitalize}}
    </button>
  </li>
</ul>