<div id="{{entity.type}}Show" class="col-xs-10 col-xs-offset-2">
  <div class="col-xs-12">
    <div id="{{entity.type}}Name" class="list-title bottom-border">
      <span id="{{entity.type}}NameLabel">
        {{entity.type | capitalize}}:
      </span>
      {{entity[entity.type].name}}
    </div>
  </div>
  <div ng-if="entity[entity.type].debts.length" class="col-xs-12">
    <div class="list-title">Debts</div>
    <div ng-repeat="debt in entity[entity.type].debts">
      <div id="{{debt.id}}" class="col-xs-12 row-margin-bottom row-padding" ng-class-odd="'shaded'" ng-click="entity.goToShow(debt.id, 'debt')">
        <div class="col-xs-12 col-md-3 col-lg-2 clickable debt-name">
          {{debt.name}}
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
          Amount Remaining: {{debt.remainingAmount || debt.initialAmount}}
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
          Interest Rate: {{debt.interestRate}}
        </div>
        <div class="pull-right col-xs-12 col-md-1 col-lg-2">
          <button class="btn btn-xs entity-delete-button pull-right" ng-click="del(debt)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>