<div id="{{entity.type}}New" class="col-xs-10 col-xs-offset-2">
  <label id="{{entity.type}}NameLabel" for="{{entity.type}}Name">Name:</label>
  <input id="{{entity.type}}Name" type="text" ng-model="entity.new[entity.type].name" />
</div>
<div class="col-xs-10 col-xs-offset-2">
  <button id="{{entity.type}}Save" class="btn" ng-click="create(entity.new[entity.type])">Save</button>
</div>