<div class="col-xs-12">
  <button id="{{entity.type}}AddButton" class="btn btn-sm" ui-sref="home.{{entity.type}}New">Add</button>
</div>
<div id="{{entity.type}}List" class="col-xs-10 col-xs-offset-2">
  <div class="list-title">{{entity.type | capitalize}}s</div>
  <div ng-repeat="person in entity[entity.type]">
    <div id="{{person.id}}" class="col-xs-12 row-margin-bottom row-padding" ng-class-odd="'shaded'" ng-click="entity.goToShow(person.id)">
      <div class="col-xs-3 clickable entity-name">
        {{person.name}}
      </div>
      <div class="col-xs-offset-5 col-xs-2">
        <button class="btn btn-xs entity-delete-button" ng-click="del(person)">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>